@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400&display=swap');


*{
    font-family: 'Roboto', sans-serif;
}

body {
    overflow: hidden;
    margin: 0;
}

.header {
    display: flex;
    background-color: #1C2D83;
    color: #ffffff;
    margin: 0 0 5px 0;
    padding: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    border-radius: 0 0 10px 10px;
}

.logo{
    font-style: italic;
}


.map-container {
    width: 80vw;
    height: 90vh;
    margin: 10px;
}

.container {
    display: flex;
}

.side-bar{
    background-color: #C4C4C4;
    width: 20vw;
    padding: 10px;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    height: 89vh;
    overflow-y: hidden;
    border-radius: 10px;
}

.btn {
    background-color: #1C2D83;
    width: 100px;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.update-box{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin: 10px;
    width: 70%;
}

.driver-info-update-box{
    display: flex;
    justify-content:space-between;
    margin: 10px;
}

.driver-info{
    border: 1px #1C2D83 solid;
    border-radius: 10px;
    width: 80%;
    padding: 5px 15px;
    margin: 5px auto;
}

.requests{
    border-radius: 10px;
    width: 90%;
    margin: 0 10px;
    height: 85vh;
    overflow-y: scroll;
}

.request {
    border: 1px #1C2D83 solid;
    border-radius: 10px;
    padding: 0px 20px;
    margin: 10px 0;
    display : flex;
    flex-direction : column;
    justify-content : space-between
}

.request p {
    display : flex;
    flex-direction : row;
    justify-content : space-between
}

.link{
    color: #ffffff;
    font-size: 1rem;
    text-decoration: none;
}

.type-of-user{
    color: #C4C4C4;
    font-size: 1.25rem;
    text-decoration: none;
}

.no-data {
    margin: 10px 100px;
    font-size: 2rem;
    font-style: italic;
    color: #C0C0C0;
}

.input{
    height: 2rem;
    width: 100%;
}

.current-trip{
    border: #1C2D83 1px solid;
    width: 100%;
    margin: 10px;
    padding: 5px;
}